@import '../../../../style/vars.less';

.main-header {
  background-color: @primary-color;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;

  @media screen and (max-width: @smaller-screen) {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
  }
}

.main-layout-header {
  padding: 0;
  position: relative;
  display: flex;
  justify-content: space-between;
  z-index: 9;
  align-items: center;
  background-color: @primary-color;
  height: unset;
  line-height: unset;

  .nav-bar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 51px;

    .left-conner {
      display: flex;
      width: 100%;

      .logo-nav {
        color: @white;
        font-size: 30px;
        margin-left: 10px;

        :global img {
          height: 45px;
        }
      }

      @media screen and (max-width: @mobile-screen) {
        padding: 5px 0;

        .logo-nav {
          position: fixed;
          margin-top: -18px;
          margin-left: 0px;
          z-index: 99;
          height: 34px;
          background-color: @primary-color;

          img {
            max-width: 90px;
            height: 30px;
            position: relative;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
          }
        }
      }

      @media screen and (max-width: @tablet-screen) {
        width: 20%;
      }

    }

    :global .menu-profile {
      position: fixed;
      text-align: center;
      right: 0px;
      top: 0;
      width: 60px;
      background: @primary-color;
      cursor: pointer;

      .avatar-profile {
        display: block;
        padding-top: 5px;
        padding-right: 5px;
      }

      .icon-profile {
        display: none;
      }

      @media screen and (max-width: @mobile-screen) {
        width: 44px;
        height: 42px;
        margin-top: 0px;

        .avatar-profile {
          display: none;
        }

        :global .icon-profile {
          display: block;
          margin-top: 10px;
          margin-left: 10px;
        }
      }
    }
  }

  @media screen and (max-width: @mobile-screen) {
    .nav-bar {
      height: 50px;
    }
  }
}


.nav-icons {
  display: flex;
  margin: 0;
  padding: 0;

  :global li {
    padding: 8px 15px;
    display: flex;
    align-items: center;
    position: relative;
    font-size: 15px;
    font-weight: 600;

    .ant-badge-count {
      background: @orange-color;
      font-size: 11px;
      box-shadow: none;
      padding: 0 5px;
      line-height: 20px;
      min-width: 20px;
      height: 20px;
    }

    &:hover {
      .ant-badge-count {
        opacity: 0.7;
      }

      a {
        color: @secondary-color;
      }

      border-color: @secondary-color;
    }

    a {
      white-space: nowrap;
      color: @white;
      font-family: @primary-font-bold;
      font-size: 20px;
    }

    cursor: pointer;
    transition: all 0.3s ease-in-out;

    .anticon {
      margin: 5px;
      font-size: 20px;

      &.anticon-custom {
        font-size: 22px;
      }
    }

    .cart-total {
      position: absolute;
      top: 2px;
      right: 5px;
    }

    .ant-menu.ant-menu-light {
      background-color: @primary-color;
    }

    &.custom {
      .anticon {
        display: none;
      }
    }

    &.custom-performer {
      margin-left: 0px;
      margin-top: 6px;
      margin-right: -10px;

      .anticon {
        display: block;
        margin-bottom: 11px;
      }

      @media (max-width: @mobile-screen) {
        margin-right: -30px;
        margin-top: 4px;
        margin-bottom: -2px;
      }

      @media (max-width: 420px) {
        margin-right: 40px;
        margin-bottom: 0;
        margin-left: 5px;

        .anticon {
          margin-top: 3px;
          margin-bottom: 7px;
          margin-left: 1px;
        }
      }
    }
  }

  :global .right-menu {
    padding: 0;

    .ant-menu-submenu-title {
      padding: 0;
    }
  }

  :global .active {
    color: @white;
    border-bottom: 2px solid;
  }

  @media (max-width: @mobile-screen) {
    width: 100%;
    justify-content: space-around;

    &.custom {
      justify-content: flex-end;
    }

    .hide {
      display: none;
    }

    li {
      padding: 5px 10px;

      .cart-total {
        top: 0px;
        right: -2px;
      }

      &.custom {
        .anticon {
          display: block;
        }

        .hide {
          display: none;
        }
      }
    }
  }
}

.hide-mobile {
  display: flex;
  align-items: center;
}

.adult-warning {
  background-color: @black;
  border: 1px solid @white;
  border-radius: 3px;
  padding-bottom: 0;

  @media screen and (max-width: @mobile-screen) {
    .ant-modal-body {
      max-height: 90vh;
      overflow-y: scroll;
    }
  }
}

.wallet-content {
  margin-left: 50px;
  font-size: 10px;
}